{% extends "layout.html" %}


<!DOCTYPE html>
<html lang="en">

{% block content %}

<!-- <h3 class="section-title">Planning a Scopeathon?<br><i>Here is a list of scoping resources.</i></h3> -->
<div class="media">
  <h3 class="section-title">Scopeathon in the Media</h3>
  {% for m in media.resources %}
    <div class="content">
      <h4 class="content-title">{{m.title}}</h4>
      <p class="content-description">
        <ul>
          <li><a href={{m.link}}>View Article>></a></li>
        </ul>
      </p>
    </div>
  {% endfor %}
</div>
  

<div class="resources">
  <h3 class="section-title">Planning a Scopeathon?<br><i>Here is a list of scoping resources.</i></h3>
  {% for r in resources["resources"] %}
    <div class="resource">
      <div>
        <h4 class="resource-title">{{r.title}}</h4>
        <p class="resource-description">
          <ul>
            <li>{{r.description}}</li>
            <li>When to use: {{r.use}}</li>
            <li><a href={{r.link}}>View Resource>></a></li>
          </ul>
          <br><br>
        </p>

      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

</html>
